<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jackie Minieri Fashion</title>
  <link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="right brand-logo">Jackie Minieri Fashion</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">list</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#partner">Partnership</a></li>
        <li><a href="">Designs</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#partner">Partnership</a></li>
        <li><a href="">Designs</a></li>
      </ul>
    </div>
  </nav>
  <div>
  <h1><span class="transSelect">Jackie Minieri Fashion</span></h1>
  </div>
  <div class="row" id="about">
    <h2 class="white-text">About the Designer</h2>
    <p class="flow-text">
      I am a colorful, extroverted designer with a deep love for marine life. Before graduating from Centenary College in 2009, I interned with high end designers in New York City such as Michael Kors and Giorgio Armani. Shortly after, I held an assistant position at Jones New York until its closure in 2015. I currently work at Calvin Klein as an Associate Colorist. 
    </p>  
  </div>
  <div class="row" id="edu">
    <div class="col s12 m6">
      <div class="card-panel">
        <h4><i class="fa fa-graduation-cap"></i></h4>
        <h4>Centenary College, 2009</h4>
        <h5>Bachelor of Fine Arts in Fashion Design
        </h5>
        <h4>Giorgio Armani</h4>
        <h5>P.R./ Showroom Intern</h5>
        <h4>Michael Kors</h4>
        <h5>Fabric and Color Intern</h5>    
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel">
        <h4><i class="fa fa-building"></i></h4>
        <h4>Calvin Klein, 2015- </h4>
        <h5>Associate Colorist</h5>       
        <h4>Jones New York, 2011-2015</h4>
        <h5>Color, Fabric R&D Assistant</h5>
      </div>
    </div>
  </div>
  <div class="row" id="partner">
    <h2 class="white-text">Foundation Partnership</h2>
    <p class="flow-text">
      After years in the industry, I've realized my knowledge can be more impactful if utilized in the right way. I am launching a line of clothes that will be connected to the conservation and preservation of sea animals. I want to give back to the researchers that dedicate their time and bring awareness to our slowly dying ecosystem. Once I am closer to the release of the line, I will be giving some of the proceeds to the appropriate foundation. 
    </p>    
    <p class="flow-text">Please stay tuned for the launch of a truly influential line of clothes! 
    </p>
  </div>
  <!-- <footer class="page-footer"> -->
   <div class="footer-copyright">
     <div class="container">
       <div class="row">
         <div class="col m8 s12">
           <h4 class="white-text">Contact Us</h4>
           <h5 class="grey-text text-lighten-4"><i class="fa fa-mobile"> XXX-XXX-XXXX</i></h5>
           <h5 class="grey-text text-lighten-4"><i class="fa fa-envelope"> jmfashion@yahoo.com</i></h5>
           <h5 class="grey-text text-lighten-4"><i class="fa fa-building-o"> 5 Fashion Lane, Somerset, NJ</i></h5>
         </div>
         <div class="col m4 s12">
           <h4 class="white-text">Follow Us</h4>
           <ul>
             <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook-official fa-3x"></i></a></li>
             <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter-square fa-3x"></i></a></li>
             <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram fa-3x"></i></a></li>
           </ul>
         </div>
       </div>
     </div>
     <div class="row white-text copy">
     © 2016 JM Fashion
     <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
     </div>
   </div>
 <!-- </footer> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>