<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jackie Minieri Fashion</title>
  <link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="right brand-logo">Jacki Minieri Fashion</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">About</a></li>
        <li><a href="collapsible.html">Designs</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="Home.html">Home</a></li>
        <li><a href="badges.html">About</a></li>
        <li><a href="collapsible.html">Designs</a></li>
      </ul>
    </div>
  </nav>
  <div>
  <h1><span class="ex4">Jacki Minieri Fashion</span></h1>
  </div>
  <div class="row about">
    <p class="flow-text">
      Fashion never stops. There is always the new project, the new opportunity. Clothes mean nothing until someone lives in them. I think it's an old fashioned notion that fashion needs to be exclusive to be fashionable. Dressing is a way of life. I never like to think that I design for a particular person. I design for the woman I wanted to be, the woman I used to be, and - to some degree - the woman I'm still a little piece of.</p>
      
      <p class="flow-text">I remember walking the dog one day, I saw a car full of teenage girls, and one of them rolled down the window and yelled, 'Marc Jacobs!' in a French accent. I never look at other people's work. My mind has to be completely focused on my own illusions. I wish I had invented blue jeans. They have expression, modesty, sex appeal, simplicity - all I hope for in my clothes. My breakfast is very important. Delete the negative; accentuate the positive!
    </p>
  </div>
  <!-- <footer class="page-footer"> -->
   <div class="footer-copyright">
     <div class="row white-text">
     © 2016 JM Fashion
     <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
     </div>
   </div>
 <!-- </footer> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>