body {
  background: url("/images/underwater.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  background-color: rgba(0,0,0,0.6);
}
.side-nav {
  background-color: rgba(0,0,0,0.9);
}
nav ul a {
  transition: background-color .3s;
  color: #08C1C1;
  font-size: 2rem;
}
.side-nav a {   
  color: teal; 
  font-size: 2rem;
  width: 100%;
}
h1 {
  padding: 15% 0;
  font-size: 8em;
}

h1, h2 {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-weight: 700;
}

@keyframes transSelect { /* CSS3 */
  0%   {color: #efefef;}
  35%  {color: #b6b6b6;}
  70% {color: #08C1C1;}
  100%   {color: #efefef;}
}
@-moz-keyframes transSelect { /* Firefox */
  0%   {color: #efefef;}
  35%  {color: #b6b6b6;}
  70% {color: #08C1C1;}
  100%   {color: #efefef;}
}
@-webkit-keyframes transSelect { /* Webkit */
  0%   {color: #efefef;}
  35%  {color: #b6b6b6;}
  70% {color: #08C1C1;}
  100%   {color: #efefef;}
}
.transSelect {
  animation:         transSelect 30s infinite; /* CSS3 */
  -moz-animation:    transSelect 30s infinite; /* Firefox */
  -webkit-animation: transSelect 30s infinite; /* Webkit */
}

.about {
  padding: 5% 10%;
  background-color: rgba(255,255,255,.3);
  margin-bottom: 0;
}
.edu {
  background: url("/images/turtle.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20% 10%;
  color: #01628D;
  margin-bottom: 0;
}
.card-panel h4, .card-panel h5 {
  text-align: center;
}
.card-panel ul li {
  list-style-type: circle;
}
.partner {
  padding: 5% 10%;
  color: #26A69A;
  background-color: rgba(0,0,0,.6);
}
.footer-copyright ul li {
  display: inline;
  margin-right: 10px;
}
.footer-copyright ul li a >i:hover{
  color: silver;
}